<div class="container">
    <div class="circular">
        <img class="imgPerfil" src="assets/img/{{usuarioLogeado.fotoUsuario}}">
    </div>
    <div>
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav>
                <mat-toolbar>Menu</mat-toolbar>
                <mat-nav-list>
                    <a class="button" (click)="ventana(1)">Mi información</a>
                    <a class="button" (click)="ventana(2)">Mis amigos</a>
                    <a class="button" (click)="ventana(3)">Mis temas</a>
                    <a class="button" (click)="ventana(4)">Mis publicaciones</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <mat-toolbar class="objetos">
                    <a class="button" (click)="ventana(1)">Mi información</a>
                    <a class="button" (click)="ventana(2)">Mis amigos</a>
                    <a class="button" (click)="ventana(3)">Mis temas</a>
                    <a class="button" (click)="ventana(4)">Mis publicaciones</a>
                </mat-toolbar>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <ng-container *ngIf="seleccionado == 1; then informacion; then mispublicaciones"></ng-container>
    <ng-container *ngIf="seleccionado == 2; then misamigos; then mispublicaciones"></ng-container>
    <ng-container *ngIf="seleccionado == 3; then mistemas; then mispublicaciones"></ng-container>
    <ng-container *ngIf="seleccionado == 4; then mispublicaciones; then mispublicaciones"></ng-container>
    <ng-template #informacion>
        <div>
            <mat-card>
                <mat-card-title>{{ usuarioLogeado.nombre }}</mat-card-title>
                <mat-card-title>{{ usuarioLogeado.apellido1 }}</mat-card-title>
                <mat-card-title>{{ usuarioLogeado.apellido2 }}</mat-card-title>
                <mat-card-title>{{ usuarioLogeado.email }}</mat-card-title>
                <mat-card-title>{{ usuarioLogeado.fec_nac }}</mat-card-title>
            </mat-card>
        </div>
    </ng-template>
    <ng-template #misamigos>
        <div>
            <mat-card *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 5, currentPage: p }">
                <div class="imgAmigos">
                    <img src="assets/img/{{usuario.fotoUsuario}}">
                </div>
                <mat-card-title>{{ usuario.nombre }} {{ usuario.apellido1}} {{usuario.apellido2}}</mat-card-title>

            </mat-card>
        </div>
    </ng-template>
    <ng-template #mistemas>
        <div>
            <mat-card *ngFor="let tema of temas | paginate: { itemsPerPage: 5, currentPage: p }">

                <mat-card-title>{{ tema.nombre }} {{ tema.duracion}} {{tema.valoracion}}</mat-card-title>

            </mat-card>
        </div>
    </ng-template>
    <ng-template #mispublicaciones>
        <div>
            <p>Mi pubicaciones</p>
        </div>
    </ng-template>