ul{
    width: 100%;
    display: flex;
    justify-content: center;
}
li{
    margin:2.5%;
}
#lxgx{
    height: 150px;
    width: 200px;
}

a{
    font-family: Flavors-Regular;
}
.navbar{
    width: 100vw;
    height: 15rem;
    
}
