@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { 
    margin: 0;
}

@font-face {
    font-family: flavors-regular;
    src: url(assets/font/Flavors-Regular.ttf) format("opentype");
}
html *
{
   
   /*font-family: flavors-regular, "Helvetica Neue", sans-serif !important;*/
   
   
}
head, body{
    background-color:olivedrab;
    animation-name: fondo_animado;
    animation-duration: 5s infinite;
}
div {
    
  }
  
@keyframes fondo_animado {
    0%   {background-color:rgb(24, 22, 22);}
    25%  {background-color:rgb(65, 65, 52);}
    50%  {background-color:rgb(114, 143, 86);}
    75%  {background-color:rgb(82, 129, 82);}
    100% {background-color:olivedrab;}
}