@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

html, body { height: 100%; }
body { 
    margin: 0;
}

@font-face {
    font-family: flavors-regular;
    src: url(assets/font/Flavors-Regular.ttf) format("opentype");
}
html *
{
   
   font-family: flavors-regular, "Helvetica Neue", sans-serif !important;
   
}