<div class="container">
    <h2>Temas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Archivo Tema</th>
                <th>nombre Artista</th>
                <th>Valoración</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let tema of temas | paginate: { itemsPerPage: 2, currentPage: p }">
            <tr>
                <td>{{ tema.nombre }}</td>
                <td>{{ tema.archivoTema }}</td>
                <td>{{ tema.nombreArtista }}</td>
                <td>{{ tema.valoracion }}</td>
                <td>
                    <button (click)="deleteTema(tema)">Delete</button>
                    <button (click)="seleccionarTema(tema)">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <button (click)="mostrarFormularioTema()">Subir Tema</button>
</div>
<ng-container *ngIf="subirTema; then formTema"></ng-container>
<ng-template #formTema>
    <div>
        <form [formGroup]="formularioTema">
            <fieldset>
                <legend>Subir tema</legend>
                <mat-form-field>
                    <input matInput name="nombre" formControlName="nombre" placeholder="Nombre del tema" required>
                    <mat-error *ngIf="datosTema.nombre.invalid">
                        <mat-error *ngIf="datosTema.nombre.errors.required">Introduzca el nombre del tema</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="archivoTema" formControlName="archivoTema" placeholder="Archivo del tema" required>
                    <mat-error *ngIf="datosTema.archivoTema.invalid">
                        <mat-error *ngIf="datosTema.archivoTema.errors.required">Introduzca el archivo</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="nombreArtista" formControlName="nombreArtista" placeholder="Artista/Cantante" required>
                    <mat-error *ngIf="datosTema.nombreArtista.invalid">
                        <mat-error *ngIf="datosTema.nombreArtista.errors.required">Introduzca el nombre del artista</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="duracion" formControlName="duracion" placeholder="Duración del tema" required>
                    <mat-error *ngIf="datosTema.duracion.invalid">
                        <mat-error *ngIf="datosTema.duracion.errors.required">Introduzca la duración</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="valoracion" formControlName="valoracion" placeholder="Valoración" required>
                    <mat-error *ngIf="datosTema.valoracion.invalid">
                        <mat-error *ngIf="datosTema.valoracion.errors.required">Valoración</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="imagen" formControlName="imagen" placeholder="Imágen o portada" required>
                    <mat-error *ngIf="datosTema.imagen.invalid">
                        <mat-error *ngIf="datosTema.imagen.errors.required">Introduzca la imágen o portada</mat-error>
                    </mat-error>
                </mat-form-field>
            </fieldset>
        </form>

    </div>
</ng-template>