<div class="container">
    <h2>Temas</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Archivo Tema</th>
          <th>nombre Artista</th>
          <th>Valoración</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let tema of temas | paginate: { itemsPerPage: 2, currentPage: p }">
        <tr>
          <td>{{ tema.nombre }}</td>
          <td>{{ tema.archivoTema }}</td>
          <td>{{ tema.nombreArtista }}</td>
          <td>{{ tema.valoracion }}</td>
          <td>
            <button (click)="deleteTema(tema)">Delete</button>
            <button (click)="seleccionarTema(tema)">Update</button>
         </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<form #f = "ngForm">
    <table class="table">
      <thead>
        <tr>
          <th>Datos usuario</th>
          <th>Introducir datos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nombre</td>
          <td><input type="text" name="nombre" [(ngModel)] = "temaSeleccionado.nombre"></td>
        </tr>
        <tr>
          <td>Archivo Tema</td>
          <td><input type="text" name="archivoTema" [(ngModel)] = "temaSeleccionado.archivoTema"></td>
        </tr>
        <tr>
          <td>Artista</td>
          <td><input type="text" name="nombreArtista" [(ngModel)] = "temaSeleccionado.nombreArtista"></td>
        </tr>
        <tr>
          <td>Duracion</td>
          <td><input type="text" name="duracion" [(ngModel)] = "temaSeleccionado.duracion"></td>
        </tr>
        <tr>
          <td>Valoracion</td>
          <td><input type="text" name="valoracion" [(ngModel)] = "temaSeleccionado.valoracion"></td>
        </tr>
        <tr>
          <td>Imagen</td>
          <td><input type="text" name="imagen" [(ngModel)] = "temaSeleccionado.imagen"></td>
        </tr>
        
        <tr><td><input type="button" (click)="createOrUpdateTema(f)" value="Create or Update Policy" class="button"></td></tr>
      </tbody>
    </table>
  
  </form>
  