<div mat-dialog-container>
    <form #f="ngForm">
        <div class="formulario">
            <fieldset>
                <legend>Iniciar Sesión</legend>
                <mat-form-field>
                    <input matInput name="usuario" [(ngModel)]="usuarioLogeado.usuario" placeholder="Usuario" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="contrasena" [(ngModel)]="usuarioLogeado.contrasena" placeholder="Contraseña" required>
                </mat-form-field>
            </fieldset>
        </div>
    </form>
    <div mat-dialog-actions>
        <button mat-raised-button (click)="iniciarSesion(f)">Iniciar Sesión</button>
        <a routerLink="/registro"><button mat-raised-button (click)="registrar()">Regístrate</button></a>
    </div>
</div>