::ng-deep .mat-focused .mat-form-field-label,
::ng-deep .mat-form-field-empty,
::ng-deep .mat-form-field {
    color: gray !important;
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple {
    background-color: gray !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid ::ng-deep .mat-form-field-ripple {
    background-color: red !important;
}

.mat-dialog-container {
    height: 100%;
    width: 100%;
    margin: auto;
    /*background-image: url("/assets/img/source.gif");*/
    background-size: 100%;
    background-repeat: no-repeat;
}

fieldset {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
}

.mat-dialog-actions {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 5px;
}

input,
textarea,
[contenteditable] {
    color: black;
    caret-color: gray;
}

.mat-error {
    font-size: 12px;
}


/*
::ng-deep .mat-form-field-placeholder {
    color: red !important;
}

 ::ng-deep .mat-focused .mat-form-field-placeholder {
    color: red !important;
}
*/