.circular {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.acciones {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.circular img {
    min-width: 100%;
    min-height: 100%;
    width: 10vh;
    height: 10vh;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    border-radius: 5%;
    margin: 0.5%;
}