::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: gray;
}

::ng-deep .mat-focused .mat-form-field-label,
::ng-deep .mat-form-field-empty,
::ng-deep .mat-form-field {
    /*change color of label*/
    color: gray !important;
    width: 100%;
}

::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-ripple {
    /*change color of underline*/
    background-color: gray !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid ::ng-deep .mat-form-field-ripple {
    background-color: red !important;
}

.mat-step-header[aria-selected="true"] {
    background-color: lightgray !important;
    border-radius: 10%;
}

.mat-step-header .mat-step-icon-state-edit {
    background-color: gray;
}

.mat-step-icon-content {
    display: none !important;
}

input {
    width: 100%;
}

.my-tooltip {
    white-space: pre-line;
}

fieldset {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

input,
textarea,
[contenteditable] {
    color: black;
    caret-color: gray;
}

.mat-dialog-actions {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 5px;
}