legend {
    color: white;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid white !important;
    width: 75%;
}

.mat-dialog-actions {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

::ng-deep .mat-horizontal-stepper-header-container,
.mat-horizontal-content-container,
.mat-stepper-horizontal {
    background-color: black;
}

.mat-dialog-container,
.mat-horizontal-stepper,
.mat-step {
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-y: hidden;
    /*background-image: url("/assets/img/gvnggvng.png");*/
    background-color: black !important;
    background-size: 100%;
    background-repeat: no-repeat;
}


/*Cambia el color por defecto del matInput*/

.matStepLabel {
    color: white;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: white;
}

 ::ng-deep .mat-focused .mat-form-field-label,
 ::ng-deep .mat-form-field-empty,
 ::ng-deep .mat-form-field {
    /*change color of label*/
    color: white !important;
}

 ::ng-deep .mat-form-field-underline,
 ::ng-deep .mat-form-field-ripple {
    /*change color of underline*/
    background-color: white !important;
}