<div mat-dialog-container>
    <form #f="ngForm">
        <div class="formulario">
            <span>Crear una cuenta</span>
            <mat-horizontal-stepper>
                <mat-step>
                    <ng-template matStepLabel>Datos del usuario</ng-template>
                    <fieldset>
                        <legend>Datos del usuario</legend>
                        <mat-form-field>
                            <input matInput name="usuario" [(ngModel)]="usuarioSeleccionado.usuario" placeholder="Usuario" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="contrasena" [(ngModel)]="usuarioSeleccionado.contrasena" placeholder="Contraseña" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput class="email" type="email" name="email" [(ngModel)]="usuarioSeleccionado.email" placeholder="Email" required>
                        </mat-form-field>
                    </fieldset>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Datos personales</ng-template>
                    <fieldset>
                        <legend>Datos personales</legend>
                        <mat-form-field>
                            <input matInput name="nombre" [(ngModel)]="usuarioSeleccionado.nombre" placeholder="Nombre" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="apellido1" [(ngModel)]="usuarioSeleccionado.apellido1" placeholder="Primer apellido" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="apellido2" [(ngModel)]="usuarioSeleccionado.apellido2" placeholder="Segundo apellido">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="date" matInput name="fec_nac" [(ngModel)]="usuarioSeleccionado.fec_nac" placeholder="Fecha de Nacimiento" required>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="pais" [(ngModel)]="usuarioSeleccionado.pais" placeholder="País">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="telefono" [(ngModel)]="usuarioSeleccionado.telefono" placeholder="Teléfono" required>
                        </mat-form-field>
                    </fieldset>
                </mat-step>
            </mat-horizontal-stepper>
            <div mat-dialog-actions>
                <button mat-raised-button (click)="createOrUpdateUsuario(f)">Iniciar Sesión</button>
            </div>
        </div>
    </form>
</div>