img {
    width: 10%;
    height: 10%;
}

.mat-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
    margin: 0.5%;
}