<div class="container">
  <mat-card *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 5, currentPage: p }">
    <img mat-card-image src="assets/img/{{usuario.fotoUsuario}}">
    <mat-card-title>{{ usuario.nombre }}</mat-card-title>
    <mat-card-subtitle>{{ usuario.apellido1 }}</mat-card-subtitle>
    <mat-card-subtitle>{{ usuario.apellido2 }}</mat-card-subtitle>
    <mat-card-subtitle>{{ usuario.email }}</mat-card-subtitle>
    <mat-card-subtitle>{{ usuario.pais }}</mat-card-subtitle>
    <button mat-button (click)="deleteUsuario(usuario)">Delete</button>
    <button mat-button (click)="seleccionarUsuario(usuario)">Update</button>
  </mat-card>
  <!--  <h2>Usuarios</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: p }">
      <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido1 }}</td>
        <td>{{ usuario.apellido2 }}</td>
        <td>{{ usuario.email }}</td>
        <td>
          <button (click)="deleteUsuario(usuario)">Delete</button>
          <button (click)="seleccionarUsuario(usuario)">Update</button>
      </td>
      </tr>
    </tbody>
  </table>-->
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>