img{
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
.mat-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: olivedrab;
}
