<form #f="ngForm">

        <label>Usuario: </label>
        <mat-form-field>
                <input matInput placeholder="Nombre" name="usuario" [(ngModel)]="usuarioSeleccionado.usuario">
        </mat-form-field>

        <label>Contraseña: </label>
        <mat-form-field>
                <input matInput placeholder="Nombre" name="contrasena" [(ngModel)]="usuarioSeleccionado.contrasena">
        </mat-form-field>
        <br>
        <button mat-button (click)="loginUsuario(f)">Create or Update Policy</button>
</form>
<button mat-raised-button (click)="openDialog()">Pick one</button>

<table border='1' width='100%' style='border-collapse: collapse;'>
        <tr>
                <th>ID Usuario</th>
                <th>Nombre</th>
                <th>Primer apellido</th>
                <th>Segundo apellido</th>
        </tr>
        <tr>
                <td>{{ usuarioLogeado.idUsuario }}</td>
                <td>{{ usuarioLogeado.nombre }}</td>
                <td>{{ usuarioLogeado.apellido1 }}</td>
                <td>{{ usuarioLogeado.apellido2 }}</td>
        </tr>
</table>
