<div mat-dialog-container >
  <h1 mat-dialog-title>Registro</h1>
  <form #f = "ngForm">
    <div class="formulario">
      <fieldset>
        <mat-form-field>
          <legend>Datos del usuario</legend>
          <input matInput name="usuario" placeholder="Usuario" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="contrasena" placeholder="Contraseña" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput name="email" placeholder="Correo Electrónico">
        </mat-form-field>
      </fieldset>
      <fieldset>
        <legend>Datos personales</legend>
        <mat-form-field>
          <input matInput name="nombre" placeholder="Nombre">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="apellido1" placeholder="Primer apellido">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="apellido2" placeholder="Segundo apellido">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="fec_nac" placeholder="Fecha de nacimiento">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="pais" placeholder="País">
        </mat-form-field>
        <mat-form-field>
          <input matInput name="telefono" placeholder="Teléfono">
        </mat-form-field>
      </fieldset>
    </div>
  </form>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="iniciarSesion(f)">Iniciar Sesión</button>
    <button mat-raised-button (click)="qwe()">Regístrate</button>
  </div>
</div>