.mat-dialog-title{
    text-align: center;
}
.formulario{
    margin: auto;
}
.mat-dialog-actions{
    margin: auto;
}
.mat-dialog-container{
    height: 100%;
    width: 100%;
    margin: auto;
    overflow-y: hidden;
  /*
  background-image: url("/assets/img/gvnggvng.png");
    background-size: 100%;
    background-repeat: no-repeat;
  */  
}