.mat-dialog-title{
    grid-area: header;
    text-align: center;
}
.formulario{
    grid-area: body;
}
.mat-dialog-actions{
    grid-area: footer;
}
::ng-deep .mat-dialog-content{
    height: 100%;
    width: 100%;
    padding: 0px !important;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 33% 34% 33%;
    grid-template-areas: ". header ."
                         "body body body"
                         "footer footer footer";
}